body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.gauge-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.graph-container {
    margin: 20px;
}

.gauge {
    width: 200px;
    height: 200px;
}
